.container{
  height: 100vh;
  .sidenav{
    width: 13rem;
    color: white;
    background: linear-gradient(180deg, rgba(10,0,184,1) 0%, rgba(34,34,222,1) 35%, rgba(0,212,255,1) 100%);
    a{
      color: white;
    }
    i{
      margin-right: .6rem;
    }
  }
}
.menu{
  margin: 1rem 0 0 1rem;
  color: white;
  background: linear-gradient(180deg, rgba(10,0,184,1) 0%, rgba(34,34,222,1) 35%, rgba(0,212,255,1) 100%);
}

